
<style>
  
ul.benifits-list-item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 10px;
}
ul.benifits-list-item li img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
}

ul.benifits-list-item li {
  display: flex;
    align-items: center;
    gap: 10px;
    color: #1a1818;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.2px;
    letter-spacing: -0.42px;
  }

  h3.benifits-list-title {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.54px;
  }

</style>
<div class="benifits-list" {{ block.shopify_attributes }}>
    <h3 class="benifits-list-title">{{ block.settings.title }}</h3>
    <ul class="benifits-list-item">
      {% for i in (1..10) %}
        {% assign setting_key = 'list_item_' | append: i %}
        {% assign setting_key_img = 'list_item_img_' | append: i %}
        {% if block.settings[setting_key] != blank %}
          <li>
            {% if block.settings[setting_key_img] != blank %}
              <img src="{{ block.settings[setting_key_img] | img_url: 'master' }}" alt="icon">
            {% endif %}
            <span>{{ block.settings[setting_key] }}</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>